<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Math App</a>

    <div class="navbar-nav me-auto">
      <div class="dropdown" dropdown>
        <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
          Pick Quiz
        </button>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a class="dropdown-item" routerLink="quiz">Quiz Global</a></li>
          <li><a class="dropdown-item" routerLink="dummy">Quiz Arithmetic</a></li>
          <li><a class="dropdown-item" routerLink="dummy">Quiz Geometry</a></li>
        </ul>
      </div>
    </div>

    <div class="navbar-nav ms-auto">
      <span class="navbar-text me-3 welcome-message" *ngIf="fullName">
        Welcome, {{ fullName }}
      </span>

      <button type="button" class="btn btn-danger me-2" routerLink="showUserInfo" *ngIf="isLoggedIn">
        Show Profile
      </button>

      <button type="button" class="btn btn-danger me-2" routerLink="editUser" *ngIf="isLoggedIn">
        Edit Profile
      </button>

      <button type="button" class="btn  btn-warning me-2" routerLink="deleteProfile" *ngIf="isLoggedIn">
        Delete Profile
      </button>

      <button type="button" class="btn btn-success me-2" (click)="SignOut()" *ngIf="isLoggedIn">
        Logout
      </button>
    </div>
  </div>
</nav>
