<form [formGroup]="userService.formModel" autocomplete="off" (submit)="onSubmit()">

  <div class="form-group required">
    <label>UserName</label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger"
           *ngIf="userService.formModel.get('UserName')?.touched && userService.formModel.get('UserName')?.errors?['required'] || false : false">This
      field is mandatory.</label>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger"
           *ngIf="userService.formModel.get('Email')?.touched && userService.formModel.get('Email')?.errors?['email']  || false : false">Invalid
      email address.</label>
  </div>

  <div class="form-group">
    <label>FullName</label>
    <input class="form-control" formControlName="FullName">
  </div>

  <div formGroupName="Passwords">

    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger"
             *ngIf="userService.formModel.get('Passwords.Password')?.touched && userService.formModel.get('Passwords.Password')?.errors?['required'] || false : false">This
        field is mandatory</label>
      <label class="text-danger"
             *ngIf="userService.formModel.get('Passwords.Password')?.touched && userService.formModel.get('Passwords.Password')?.errors?['minLength'] || false : false">Minimum
        4 characters required</label>
    </div>

    <div class="form-group required">
      <label>ConfirmPassword</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger"
             *ngIf="userService.formModel.get('Passwords.ConfirmPassword')?.touched && userService.formModel.get('Passwords.ConfirmPassword')?.errors?['required'] || false : false">This
        field is mandatory</label>
      <label class="text-danger"
             *ngIf="userService.formModel.get('Passwords.ConfirmPassword')?.touched && userService.formModel.get('Passwords.ConfirmPassword')?.errors?['passwordMismatch'] || false : false">Confirm
        password does not match</label>


    </div>

  </div>

  <div class="form row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!userService.formModel.valid">Sign Up</button>
    </div>
  </div>

</form>
