<div *ngIf="showQuestions">
  <div *ngIf="questions">
    <div class="card mb-2">
      <h2>Quiz Questions</h2>
    </div>
    <div class="card card-body">
    <ol>
      <li *ngFor="let question of questions">
        <div class="card mb-2">
          <!--        <h3>{{ question?.topicModel?.text }}</h3>-->
          <h2>{{ question?.text }}</h2>
          <ul style="list-style-type: none;">
            <li *ngFor="let answer of question?.answerModels">
              <label>
                <input type="radio" [name]="question?.id" [value]="answer?.id" (change)="checkAnswer(question, answer)">
                {{ answer?.text }}
              </label>
            </li>
          </ul>
          <p *ngIf="question?.answered">
            Your answer is {{ question?.answeredAnswer?.text }}. It
            is {{ question?.answeredAnswer?.isCorrect ? 'correct' : 'incorrect' }}.
          </p>
        </div>
      </li>
    </ol>
    </div>
  </div>

  <div *ngIf="!questions">
    <p>Loading questions...</p>
  </div>

  <div class="text-end mb-4" *ngIf="showQuestions">
    <!--  [disabled]="hasUnansweredQuestions()"-->
<!--    <button class="btn btn-primary" (click)="showResults()" [disabled]="hasUnansweredQuestions()">Show Results</button>-->
    <button class="btn btn-primary" (click)="showResults()" >Show Results</button>

  </div>
</div>

<div *ngIf="!showQuestions" class="card-body card">
  <p>Correct Answers: {{ correctAnswersCount }}/10</p>
  <p>Recommended quiz/quizzes:</p>
  <ul>
    <li *ngFor="let key of maxKeys">{{key}}</li>
  </ul>
</div>
