<div class="container" style="display: block; justify-content: center; width: 100%; align-items: center;">
  <div class="card card-body"
       style="display: flex; justify-content: center; width: 25%; flex-direction: row; align-items: center;">Are you
    sure want to delete {{userProfile.fullName}} profile?
  </div>
  <div class="card card-body"
       style="display: flex; justify-content: center; width: 25%; flex-direction: row; align-items: center;">

    <button class="button-margin btn btn-danger me-2" (click)="yes()">Yes</button>
    <button class="button-margin btn btn-success me-2" (click)="no()">No</button>

  </div>
</div>
